:root{
  --drViolet: hsl(256, 26%, 20%);
  --grBlue: hsl(216, 30%, 68%);

  --vdrViolet: hsl(270, 9%, 17%);
  --dgrViolet: hsl(273, 4%, 51%);
  --vliGray: hsl(0, 0%, 98%);

}

*{
  box-sizing: border-box;
  cursor: default;
}

body{
  margin: 0;
  font-family: 'Karla', sans-serif;
}

h1,h2{
  font-family: 'DM Serif Display', serif;
}

img{
  max-width: 100%;
}

a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

li{
  cursor: pointer;
}


@mixin scale--effect($size-in, $size-out){
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover{
    transform: scale($size-in);
  }
  &:active{
    transform: scale($size-out);
  }
}

@mixin color--effect($hr-clr){
  transition: all 0.2s linear;
  &:hover{
    color: var($hr-clr);
    text-decoration: underline;
  }
}

@mixin btn--effect($pr-clr, $sec-clr){
  color: $pr-clr;
  border: solid 2px $pr-clr;
  &:hover{
    background: $pr-clr;
    color: $sec-clr;
    border: solid 2px $sec-clr;
  }
  &:active{
    color: $pr-clr;
    border: solid 2px $pr-clr;
    background: transparent;
  }

}

.logo{
  @include scale--effect(1.2,0.9);
}
