footer{
  width: 80%;
  margin: 0 auto;
  margin-top: 7rem;
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.footer__picture{
  position: absolute;
  left: -10%;
  top: 0;
  z-index: -1;
}

.footer__social{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px hsla(270, 9%, 17%, 0.2);
  margin-bottom: 2rem;
  @media (min-width:700px){
    flex-direction: row;
    justify-content: space-between;
  }
}

.social__links{
  display: flex;
  justify-content: center;
  &--list + &--list{
    margin-left: 1.5rem;
  }
  &--list--image{
    @include scale--effect(1.5,0.8);
  }
}

.list__heading{
  color: var(--dgrViolet);
  font-weight: 700;
  @include scale--effect(1.2,0.9);
  cursor: default;
}

.footer__links{
  @media(min-width: 700px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__link{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  &--item{
    font-weight: 700;
    color: var(--vdrViolet);
    @include scale--effect(1.2,0.9);
    @include color--effect(var(--drViolet));
  }
  &--item + &--item{
    margin-top: 1rem;
  }
}
