.benefit{
  text-align: center;
  @media(min-width: 700px){
    text-align: left;
    width: 80%;
    margin: auto;
  }
}

.benefit__heading{
  font-size: calc(2.5rem + 1vw);
  letter-spacing: 2px;
  color: var(--vdrViolet);
}

.benefit__container{
  display: flex;
  flex-direction: column;
  @media(min-width: 700px){
    flex-direction: row;
  }
}

.benefit__item{
  padding: 1rem;
}

.benefit__item>h2{
  color: var(--vdrViolet);
  font-size: 2rem;
}

.benefit__item>p{
  color: var(--dgrViolet);
  font-weight: 700;
}

.banner{
  margin: 2rem 1rem;
  color: hsl(0, 0%, 100%);
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--drViolet);
  background-image: url("./../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  @media(min-width: 700px){
    margin: 2rem auto;
    padding: 1rem 1rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    background-image: url("./../images/bg-pattern-how-we-work-desktop.svg");
    &>*{
      width: 100%;
    }
  }
}

.banner__heading{
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
  @media(min-width: 700px){
    margin-left: 1rem;
    font-size: calc(3rem + 0.2vw);
  }
}

.banner__link{
  text-align: center;
  display: block;
  max-width: 10rem;
  padding: .5rem 1rem;
  border: solid 2px hsl(0, 0%, 100%);
  margin: 0 auto;
}
