:root{
  font-size: 18px;
}

*{
  cursor: default;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  min-height: 90vh;
  background-color: hsl(226, 43%, 10%);
  color: white;
}

b{
  font-weight: 500;
}

img{
  max-width: 100%;
}

.container{
  margin: 4rem 1rem;
  display: grid;
  grid-template: repeat(8, auto) / repeat(1, 1fr);
  grid-gap: 1rem;
}

.element, .report{
  border-radius: 1rem;
  overflow: hidden;
}

.element{
  background-repeat: no-repeat;
  background-position: right 10% top -5%;
}

.element__container{
  background-color:  hsl(235, 46%, 20%);
  margin-top: 2.5rem;
  padding: 1.5rem;
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  grid-row-gap: .5rem;
  border-radius: 1rem;
  transition: all 0.3s linear;
}

.element__container:hover{
  background-color:  hsl(235, 45%, 30%);
  transform: scale(1.05);
  cursor: pointer;
}

.element__time{
  font-size: 2rem;
  font-weight: 300;
}

.element__container>img,.element__prev-time{
  justify-self: end;
  align-self: center;
  color: hsl(236, 100%, 87%);
}

.report{
  background-color: hsl(235, 46%, 20%);
}

.report__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(246, 80%, 60%);
  padding: 1rem;
  border-radius: .5rem;
}

.report__header img{
  border: solid 4px white;
  border-radius: 50%;
  width: 75px;
}

.report__header h1{
  font-size: 1.75rem;
  margin: 0;
  font-weight: 300;
}

.report__buttons{
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.button{
  background-color: transparent;
  color: hsl(235, 45%, 61%);
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: dashed 2px transparent;
  transition: all 0.3s linear;
}

.button:hover{
  color: hsl(236, 100%, 87%);
  cursor: pointer;
}

.button:focus{
  border: dashed 2px hsl(236, 100%, 87%);
  border-radius: .25rem;
}

.active-button{
  color: hsl(236, 100%, 87%);
}

.work{
  background-image: url("./images/icon-work.svg"),
  linear-gradient(180deg, hsl(15, 100%, 70%) 0%, hsl(15, 100%, 70%) 51%, hsl(235, 46%, 20%) 51%, hsl(235, 46%, 20%) 100%);
  background-color: hsl(15, 100%, 70%);
}

.play{
  background-image: url("./images/icon-play.svg"),
  linear-gradient(180deg, hsl(195, 74%, 62%) 0%, hsl(195, 74%, 62%) 51%, hsl(235, 46%, 20%) 51%, hsl(235, 46%, 20%) 100%);
  background-color: hsl(195, 74%, 62%);
}

.study{
  background-image: url("./images/icon-study.svg"),
  linear-gradient(180deg, hsl(348, 100%, 68%) 0%, hsl(348, 100%, 68%) 51%, hsl(235, 46%, 20%) 51%, hsl(235, 46%, 20%) 100%);
  background-color: hsl(348, 100%, 68%);
}

.exercise{
  background-image: url("./images/icon-exercise.svg"),
  linear-gradient(180deg, hsl(145, 58%, 55%) 0%, hsl(145, 58%, 55%) 51%, hsl(235, 46%, 20%) 51%, hsl(235, 46%, 20%) 100%);
  background-color: hsl(145, 58%, 55%);
}

.social{
  background-image: url("./images/icon-social.svg"),
  linear-gradient(180deg, hsl(264, 64%, 52%) 0%, hsl(264, 64%, 52%) 51%, hsl(235, 46%, 20%) 51%, hsl(235, 46%, 20%) 100%);
  background-color: hsl(264, 64%, 52%);
}

.selfcare{
  background-image: url("./images/icon-self-care.svg"),
  linear-gradient(180deg, hsl(43, 84%, 65%) 0%, hsl(43, 84%, 65%) 51%, hsl(235, 46%, 20%) 51%, hsl(235, 46%, 20%) 100%);
  background-color: hsl(43, 84%, 65%);
}

@media (min-width: 500px) {
  .container{
    margin: 4rem auto;
  }

  .element, .report{
    justify-self: center;
  }

  .report__header{
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
  }

  .report__header img{
    margin-bottom: 1.5rem;
  }

  .element__time{
    font-size: 2.25rem;
    grid-column: span 2;
  }

  .element__prev-time{
    justify-self: start;
  }

}

@media (min-width:850px){
    .container{
      grid-template: repeat(2, auto) / repeat(auto-fit, minmax(250px, 1fr));
      max-width: 1250px;
      padding: 1rem;
    }

    .report{
      grid-row: span 2;
    }

    .report .element{

    }

    .report__buttons{
      flex-direction: column;
      align-items: flex-start;
    }
    .report__buttons>button+button {
      margin-top: 1rem;
    }
}

@media (min-width: 1100px) {
  .report__header h1{
    font-size: 2.25rem;
  }
}
