@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Libre Franklin', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

input:focus {
  outline: none;
}

.container{
  text-align: center;

    width: 90%;
    margin: 0 auto;
}


.logo{
  padding: 2rem 0;
}

.heading{
  color: hsl(0, 0%, 59%);
  font-size: 1.75rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.heading__bold{
  color: hsl(0, 0%, 0%);
}

.notification{

  padding: 1.5rem 0;
  font-weight: 700;
}

.form__warning{
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding-top: .5rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  color: hsl(354, 100%, 66%);
}

.input{
  display: grid;
}

.input__email, .input__btn{
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.input__email--error{
  border-color: hsl(354, 100%, 66%);
}

.input__btn{
  margin-top: 1rem;
  background-color: hsl(223, 87%, 63%);
  color: white;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.4s ease-in-out;
}

.input__btn:hover{
  background-color: hsl(223, 87%, 73%);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.image{
  padding: 1rem 0;
}

.social__list{
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link + .social__link{
  margin-left: .5rem;
}

.social__link img{
  padding: .5rem;
  border-radius: 1rem;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
  transition: all 0.4s linear;
}

.social__link img:hover{
  background-color: hsl(223, 87%, 63%);
}


@media only screen and (min-width:768px)
{/* for desktop */


  .container{
    width: 60%;
    margin: 0 auto;
  }

  .heading{
    font-size: 2rem;
  }

  .input{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  .image{
    max-width: 60%;
  }
  .input__btn{
    max-width: 9rem;
    margin-top: 0rem;
    margin-left: 1rem;

  }
}

.Copyright{
  text-align: center;
  color: hsl(0, 0%, 59%);
  font-size: .8rem;
}
