:root{
  --clr-pr: 	230 100% 64%;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  cursor: default;
}

h1,h2,h3{
  font-family: 'Yatra One', cursive;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
  cursor: pointer;
}

header{
  text-align: center;
}

.frontend__link{
  color:  hsl(var(--clr-pr));
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project{
  margin: 2rem 3rem;
  padding: 1rem;
  border-radius: 5px;
  max-width: 360px;
  box-shadow: 0px 2px 5px -2px hsla(0, 0%, 10%, 0.5);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:hover{
  transform: translateY(-5%);
  box-shadow: 4px 10px 20px hsla(0, 0%, 10%, 0.3);
}



.project__image{

}

.project__name{
  font-size: 1.25rem;
  color: hsl(var(--clr-pr));
}

.project__description{
  min-height: 100px;
}

.project__link{
  display: flex;
  justify-content: space-between;
}

.project__link>a{
  padding: 0.25rem 0.75rem;
  min-width: 6rem;
  background: white;
  color: hsl(var(--clr-pr));
  border: solid 2px hsl(var(--clr-pr));
  text-align: center;
  border-radius: 1.5rem;
  transition: 0.3s all linear;
}

.project__link>a:hover{
  background:  hsl(var(--clr-pr));
  color: white;
  transform: scale(1.05);
}

.project__link>a:active{
  background: white;
  color: hsl(var(--clr-pr));
  transform: scale(0.95);
}
