@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&display=swap');
/* XXX:  */
html body{
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
}

.main-box{
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto ;
}

.box-1{
  background-color: hsl(0,0%, 100%);
  padding: 40px;
  padding-left: 60px;
  border-radius: 10px  10px 0 0;
  grid-column-start: 1;
  grid-column-end: 3;

}

.box-2, .box-3{
  padding: 60px;
  color: hsl(0, 0%, 100%);
}

.box-2{
  background: hsl(179, 62%, 43%);
  border-radius: 0  0 0 10px;
}

.box-3{
  background: hsl(179, 62%, 50%);
  border-radius: 0  0 10px 0;
}

.box-1 h1{
  color:hsl(179, 62%, 43%);
}

.box-1 h3{
  color: hsl(71, 73%, 54%);
}
.box-1 p{
  font-weight: 16px;
  color: hsl(218, 22%, 67%);
}

.heading{
  font-size: 22px;
  padding-bottom: 20px;
}

.cost{
  display: inline;
  font-size: 30px;
  font-weight: bolder;
}

.sign-up{
  margin-top: 10px;
  text-align: center;
  background-color: hsl(71, 73%, 54%);
  display: block;
  padding: 16px;
  border-radius: 5px;
}


@media only screen and (max-width:720px) {
  .main-box{
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto ;
  }
  .box-2{
    padding-left: 20px;
    border-radius: 0  0 0 0;
  }
  .box-1{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .box-3{
    padding-left: 20px;
    border-radius: 0  0 10px 10px;
  }
}
