*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1,h2{
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
  padding-left: 0;
}

img{
  max-width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

footer{
  text-align: left;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

header img{
  max-width: 150px;
}

header a{
  font-size: .8rem;
  color: hsl(322, 100%, 66%);
  padding: .5rem 1.2rem;
  border: solid 1px hsl(322, 100%, 66%);
  border-radius: 1.5rem;
  font-weight: 600;
  transition: 0.3s linear;
}

header a:hover{
  background: hsl(322, 100%, 66%);
  color: white;
}

.hero__content{
  margin: 6rem 0;
  padding: 0 1rem;
}

.hero__content h1{
  font-size: calc(1.5rem + 1vw);
}

.hero__content p{
  font-weight: 500;
  font-size: calc(1rem + .2vw);
  line-height: 1.5;
  max-width: 600px;
  margin: 2rem auto;
}

.hero__content a{
  padding: .5rem 2rem;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border: solid 2px hsl(322, 100%, 66%);
  border-radius: 1.5rem;
  font-weight: 700;
}

.stat{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat__block{
  text-align: left;
  min-width: 180px;
  margin: 2rem auto;
}

.stat__block img{
  padding: 0 2rem;
  max-width: 6rem;
}

.stat__block h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 0;
  text-align: center;
}

.stat__block p {
  text-align: center;
}

picture, picture img{
  margin-bottom: -.5rem;
}

main>picture:nth-of-type(2n + 1), main>picture:nth-of-type(2n + 1) img{
    margin-bottom: -2.5rem;
}

main>picture:nth-of-type(2n), main>picture:nth-of-type(2n) img{
  margin-top: -2.5rem;
}



section{
  margin: 2rem 0;
  padding: 4rem 1rem;
  position: relative;
  z-index: 2;
}


section:nth-of-type(2n + 1){
  background: hsl(207, 100%, 98%);
}

section h1{
  font-size: 1.75rem;
}

section p{
  font-size: calc(.8rem + .5vw);
  font-weight: 500;
}

.action{
  margin: 4rem auto;
}

.action a{
  color: white;
  background: hsl(322, 100%, 66%);
  padding: .5rem 1.2rem;
  border: solid 1px hsl(322, 100%, 66%);
  border-radius: 1.5rem;
  font-weight: 600;
  transition: 0.3s linear;
}

.attribution {margin: 0; font-size: 11px; text-align: center; color: white; background-color: hsl(192, 100%, 9%); }
.attribution a { font-weight: bold;}

footer{
  color: white;
  background-color: hsl(192, 100%, 9%);
  padding: 4rem 1rem;
}

.footer__newsletter h2{
  text-transform: uppercase;
}

.footer__newsletter p{
  line-height: 1.5;
}

.footer__newsletter--form{
  display: flex;
  flex-direction: column;
}

.footer__newsletter--form input{
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: .4rem;
}

.footer__newsletter--form input[type="submit"]{
  margin-left: auto;
  padding: 1rem 3rem;
  font-weight: 700;
  color: white;
  background: hsl(322, 100%, 66%);
}

.footer__contact{
  margin-top: 5rem;
}

.footer__contact .logo{
  filter: grayscale(100%) brightness(1000%);
  max-width: 180px;
}

.contact-info{
  display: flex;
  align-items: center;
}
.contact-info img{
  margin-right: 1rem;
}

.social__list{
  display: flex;
  margin-top: 2rem;
}

.social__item + .social__item{
  margin-left: 1rem;
}

@media (min-width: 850px) {
  header{
    width: 80%;
    margin: 2rem auto;
    padding: 0;
  }
  .hero__content{
    margin: 8rem 0;
  }

  .stat{
    flex-direction: row;
    justify-content: center;
    margin: 4rem auto;
    max-width: 700px;
  }

  section{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 calc(3rem + 2vw);
  }

  section>*{
    width: 100%;
  }

  section:nth-of-type(2n + 1){
    flex-direction: row-reverse;
  }

  .section__content{
    margin: 0 4rem;
  }

  .action{
    margin: 8rem auto;
  }

  footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
  }
  footer>*{
    width: 100%;
  }

  .footer__newsletter p{
    max-width: 450px;
  }

  .footer__newsletter--form{
    flex-direction: row;
  }

  .footer__contact p{
    max-width: 300px;
  }

  .footer__newsletter--form>*{
    width: 100%;
  }
  .footer__newsletter--form input[type="email"]{
    min-width: 200px;
  }
  .footer__newsletter--form input[type="submit"]{
    max-width: calc(150px + 2vw);
    margin-left: 50px;
  }

  .footer__contact{
    margin: auto;
  }
}
